.banner{
    background-image: url('../../../public/images/banner-sabores.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner > h1 {
    color: var(--custom-white);
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 5px 2px var(--custom-gray);
}

.flavors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 100px 20px;
}

.cards{
    max-width: 1024px;
    gap: 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
  
    .banner{
      height: 400px;
    }
    
    .banner > h1{
      font-size: 48px;
    }

    .cards{
        flex-direction: column;
    }
}