.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--custom-lightyellow);
    padding: 0px 20px;
}

.content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 1024px;
}

.content_list{
    padding: 20px 0px;
}

.list{
    display: flex;
    gap: 40px;
}

.item_list  {
    color: var(--custom-black);
    font-size: 18px;
}